arrow==0.13.1
backports.functools-lru-cache==1.5
certifi==2019.3.9
chardet==3.0.4
clique==1.5.0
ftrack-python-api==1.8.0
idna==2.8
pyparsing==2.4.0
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
termcolor==1.1.0
urllib3==1.24.1
websocket-client==0.56.0
